body{
    margin: 0;
    padding: 0;
}

header{
    position: fixed;
    top: 0;
    width: 100%;
    height: 5%;
}

footer{
    position: fixed;
    width: 100%;
    height: 5%;
    bottom: 0;
}

main{
    width: 100%;
    justify-content: center;
    text-align: center;
    margin-top: 5%;
}

article{
    width: 25%;
    float: left;
    background-color: rgb(158, 156, 156);
    padding: 20px;
    box-sizing: border-box;
    border: 2px dotted black;
}

article:hover{
    border-style:solid;
    transition: width 3s;
    width: 30%;
}

@media screen and (max-width:768px) {
    article{
        width: 50%;
    }
}

@media screen and (max-width:480px){
    article{
        width: 100%;
    }
}

@media screen and (orientation:portrait){
    #portrait{
        display: block;
    }
    #landscape{
        display: none;
    }
}

@media screen and (orientation:landscape){
    #portrait{
        display: none;
    }
    #landscape{
        display: block;
    }
}